data
init
init.bak
myfile.txt
tools
mini-pki/pki
.env
config/keycloak/guacamole-realm-config/.terraform*
config/keycloak/guacamole-realm-config/terraform.tfstate*
config/guacamole/guacamole-groups-and-connections/.terraform*
config/guacamole/guacamole-groups-and-connections/terraform.tfstate*
